body {
	/* display: flex; */
	background: pink;
}
#table{
	/* cursor: grab; */
	height: 150px;
	width: 100%;
	background: green;
}
.dropzone {
	background: #eee;
	border: 8px solid black;
	display: block;
	margin: 16px;
	min-width: 250px;
	padding: 16px;
	/* cursor: pointer; */
}

.dropzone#alpha {
	border-color: orangered;
}
.dropzone#beta {
	border-color: green;
}
.dropzone#delta {
	border-color: skyblue;
}

.draggable {
	display: inline-block;
	width: 120px;
	height: 40px;
	background: #aaa;
	/* cursor: grab; */
	font-weight: bold;
	list-style: none;
	margin: 4px;
	padding: 8px;
}
/* .draggable.active{	cursor: grabbing;} */

