html,body{
	/* background: lightpink; */
	font: 400 10px Arial;
	padding:0;
	margin:0;
}
div{ text-align:center;}
button{width:70px;}
pre{
	display: block;
	white-space:pre;
	margin: 0px;
	/* font-family: monospace;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px; */
}

#buttons{
	float:left;
	height:100%;
	min-width: 100px;
	/* background-color: green; */
}
#main{
	display:grid;
	height:100%;
	/* background-color:yellow; */
}
#upper{
	display: grid;
	justify-items: center;
	grid-template-columns: auto auto auto auto;
}
.grey{
	border-radius: 8px;
	background-color: silver;
	margin: 3px;
	padding: 4px;
}
.node{
	font-size: 10pt;
	background-color:white;
	color:black;
	text-align: left;
	margin: 6px;
	box-sizing: border-box;
	padding: 2px 10px 2px 8px;
	border-radius: 6px;
}

.centerCentered{
	margin: 0;
	/* background: yellow; */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%) 
}

.flexWrap{
	display:flex;
	flex:1;
	flex-wrap:wrap;
	justify-content:center;
}

/* #region fonts */

@font-face{
	font-family: 'pictoFa';
	src: url('/CODE/css/Font Awesome 5 Free-Solid-900.otf') format("truetype");
}
@font-face {
	font-family: 'pictoGame';
	src: url('/CODE/css/game-icons.ttf') format("truetype");
}
@font-face {
	font-family: 'AlgerianRegular';
	src: url('/CODE/css/ALGER.ttf') format("truetype");
}

/* #endregion fonts */

.hand {
	display: flex;
	align-content: center;
	margin: 8px;
  /* max-width: 35em; */
  /* max-width: 160px; */
}
.cardWrapper {
  overflow: hidden;
}
.cardWrapper:last-child, .cardWrapper:hover {
    overflow: visible;
}
.card {
	margin: 1px;
	width: 24px;
	min-width: 24px;
	height: 28px;
	/* width: 10em; min-width: 10em; height: 6em; */
	border-radius: 0.5em;
	border: solid #666 1px;
	background-color: #ccc;
	padding: 0.25em;

	display: flex;
	flex-direction: column; /* das muss aendern fuer vert overlap! */
	justify-content: center;
	align-items: center;
}

.wrapped {
	margin: 1px;
	width: 24px;
	min-width: 24px;
	height: 24px;
	/* width: 10em; min-width: 10em; height: 6em; */
	border-radius: 0.5em;
	border: solid #666 1px;
	background-color: #ccc;
	padding: 0.25em;

	display: flex;
	flex-direction: column; /* das muss aendern fuer vert overlap! */
	justify-content: center;
	align-items: center;
}




















