#dSettings{
	position: fixed;
	left: 1%;
	top: 1%;
	height: 98%;
	width: 98%;
	color: green;
	background:rgb(193, 247, 193);
}
.fsc{
	height:290px;
	display: flex;
	justify-content: center;
}

legend {
	border:1px solid green;
	color:green;
	font-size:75%;
	margin-left:16px;
	text-align:left;
}
fieldset{
	font-size:90%;
	border: none;
	margin-top:2%;
	height:96%;
	min-width:130px;
	float:left;
	position:relative;
	text-align: left;
	color:dimgray;
	/* background-color: blue; */
}
.radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
	border: 1px solid #999;
	color: silver;
  transition: 0.2s all linear;
  margin: 5px;
	padding: 0px;
  position: relative;
	top: 7px;
	left: 0px;
}
.radio:focus {
  outline-width: 0px;
  outline-style: solid;
	outline-color: transparent; 
	/* outline-color: Highlight; */
}
.radio:checked {
  border: 8px solid green;
}
fieldset div{
	margin:10px 16px;
}
.input {
	display: inline-block;
	max-width: 60px;
}
.inputPlayerType {
	display: inline-block;
  margin: 7px 5px 1px 5px;
  margin-left:-20px;
	padding: 0px;
	text-align-last: center;
	/* padding: 0px 12px; */
	/* text-indent: 30%; */
	/* text-align:center; */
	/* padding: 3px 4px 3px 4px; */
  font-size: 12pt;
  font-family: Verdana;
  text-align: center;
  text-decoration: none;
  outline: none;
	cursor: pointer;
	background-color: white;
	color: var(--bgButton);
  border: none;
  border-radius: 12px;
	width: 120px;
	height:22px;
	box-sizing:border-box
}
label{
	color: var(--fgButton);
}


/* .fieldsetContainer{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.vCenterChildren{
	flex-grow:0;
	display:flex;
	justify-content: space-around;
	align-content: space-around;
}
.eventList {
  font-size: var(--fzLobby);
	text-align: left;
  list-style: none;
  margin: 0px;
  padding: 0px;
	border-top: 1px solid lightgrey;
	border-bottom: 1px solid lightgrey;
  overflow-y: auto;
}
.eventList li {
  padding: 10px 10px 10px 10px;
}
.eventList button {
	display: inline-block;
	color: var(--fgButton);
	margin: 2px;
	padding: 0px;
	font-size: 12pt;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	border: none;
	border-radius: 12px;
	width: 160px;
	padding: 6px 6px 6px 8px;
	margin-top: 6px;
	background-color: var(--bgButton);
  transition: all 150ms ease-in;
} */
