
html,body,#md,#rightSide{
	height: 100%;
	padding:0;
	margin:0;
	font: 20px Arial;
	color: white;
	background-color: dimgray;
	
}
#md,#rightSide{
	display:flex;
}
#sidebar{
	height: 100%;
	flex: 0 0 auto;
	background-color: red;
	box-sizing:border-box;
	padding: 12px;
}
#rightSide{
	flex-direction: column;
	background-color: orange;
}
#table{
	flex: 0 0 auto;
	/* height: -moz-calc(100% - (20px + 30px));
	height: -webkit-calc(100% - (20px + 30px));
	height: calc(100% - (20px + 30px)); */
	height: calc(100% - 25px); /* needs space on either side of operator!!!!! */
	/* background-color: green; */
	padding: 10px;
	box-sizing:border-box;
}
#status{
	flex: 0 0 auto;
	height:25px;
	text-align: right;
	padding-right: 10px
	/* background-color: skyblue; */
}

.selectedGroupButton{
	background-color: skyblue;
}

/* #region buttonClass */
.buttonClass{
  border-radius: 2px;
	margin: 2px;
	padding:0px;
  border: none;
	/* background-color: #79d7e4; */
  outline: none;
	
}
.buttonClass:hover {
	background-color: #79d7e4;
}
.buttonClass:active {
	background-color: orange;
}

/* #endregion */

/* #region start button */
#bStart{
	margin: 2px;
  border: none;
  outline: none;
	border-radius: 8px;
	padding: 4px 16px;
	font-size: 32px;
	background-color: springgreen;
	/* align-self: flex-start;
	justify-self: flex-start; */
}
#bStart:hover{
	background-color: #79d7e4;
}
#bStart:active{
	background-color: red;
}
/* #endregion */

/* #region score */
#scoreDiv{
	font-size: 22pt;
	text-align: center;
}
#scoreSpan{
	margin-left:10px;
	background-color: white;
	padding: 0px 12px; 
	border-radius: 8px;
	color: black;
}


/* #endregion */

/* #region example checkbox */
.box {
	background: #666666;
	color: #ffffff;
	width: 250px;
	/* padding: 10px; */
	/* margin: 1em auto; */
}

p {
	margin: 0;
	padding: 0;
}

input[type="checkbox"] {
	visibility: hidden;
	display: none;
}

label {
	cursor: pointer;
}

input[type="checkbox"]+label:before {
	border: 1px solid #333;
	content: "\00a0";
	display: inline-block;
	font: 16px/1em sans-serif;
	height: 16px;
	margin: 2px .25em 0 0;
	padding: 0;
	vertical-align: top;
	width: 16px;
}

input[type="checkbox"]:checked+label:before {
	background: #fff;
	color: #333;
	content: "\2713";
	text-align: center;
}

input[type="checkbox"]:checked+label:after {
	font-weight: bold;
}

input[type="checkbox"]:focus+label::before {
	outline: rgb(59, 153, 252) auto 5px;
}

/* #endregion */
