.top-bar._fixed {
	position: fixed;
	min-width: auto;
	box-shadow: var(--bs-sm);
}
#floatingMenu {
	position: fixed;
	min-width: auto;
	box-shadow: var(--bs-sm);
	/* position: absolute; */
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5050;
	background-color: navy;
	transition: box-shadow cubic-bezier(.165, .84, .44, 1) .25s;
	height: 22px;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	box-sizing: border-box;
	/* border-top: 3px solid #f48024; */
}
/* #floatingMenu{
	position: -webkit-sticky; 
	position: sticky;
	top: 0;
	height: 35px;
	margin: 0;
	z-index: 9999;
	background-color: white;
} */
/* #floatingMenu + * {
	margin-top: 35px;
} */
/* #floatingMenu{
	clear: both;
	position: sticky;
	width: 100%;
	background-color: #78AB46;
} */

.pathTitle{
	font: italic small-caps bold 12px/30px Georgia, serif;
}
.signature{
	color: blue;
	/* font: bold 12pt Impact, Charcoal, sans-serif; */
}
.comments{
	margin: 4px 12px;
	font-size: 11pt;
	color: dimgray;
	/* font: bold 12pt Impact, Charcoal, sans-serif; */
}

.funcSignature{
	/* font: italic small-caps bold 12px/30px Georgia, serif; */
	/* font: 18px AlgerianRegular; */
	/* font: bold 18pt Georgia, serif; */
	/* font: bold 18pt "Courier New", Courier, monospace; */
	/* font: bold 16px "Lucida Console", Courier, monospace; */
	/* font: italic bold 12pt Impact, Charcoal, sans-serif; */
	/* font: 16pt Impact, Charcoal, sans-serif; */
	/* font-family: "Courier New", Courier, monospace; */
	/* font: bold 16px Courier; */
	/* font: bold 12pt Impact, Charcoal, sans-serif; */
	font: bold 14pt Verdana, sans-serif;
	/* font: bold 12pt Impact, Charcoal, sans-serif; */
	/* font: bold 12pt Impact, Charcoal, sans-serif; */

}
button {
  /* text-transform: uppercase;
  font-size: var(--fzLobby);
	min-width: 120px;
	padding: 8px 10px;
  color: white;
  background-color: var(--bgLobby);
  border-radius: 10px;
  cursor: pointer;
  transition: all 150ms ease-in; */
  border-radius: 2px;
	margin: 2px;
  border: none;
  outline: none;
}
button:hover {
    background-color: #79d7e4;
}

a{
	display: block;
	/* display: inline-block; */
	background-color: aliceblue;
	overflow-x: auto;
	word-wrap:break-word;
	/* white-space: wrap; */
	/* max-width: 100%; */
	/* width: 100%; */
	/* float: left;
	clear: both; */
}
.wordwrap { 
	white-space: pre-wrap;      /* CSS3 */   
	white-space: -moz-pre-wrap; /* Firefox */    
	white-space: -pre-wrap;     /* Opera <7 */   
	white-space: -o-pre-wrap;   /* Opera 7 */    
	word-wrap: break-word;      /* IE */
}
.sidebar{
	/* float: left; */
	max-width: 38%;
	background-color: aliceblue;
	/* max-width: 38%; */
	overflow-x: scroll;
}
.collapsible {
	display: block;
  background-color: #777;
  color: white;
	cursor: pointer;
	padding: 0px 10px;
	margin-bottom: 2px;
  /* padding: 18px; */
  /* width: 100%; */
  border: none;
  text-align: left;
  outline: none;
	font-size: 15px;
	width: 100%;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  /* padding: 0 18px; */
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* #region fonts */

@font-face{
	font-family: 'pictoFa';
	src: url('/CODE/css/Font Awesome 5 Free-Solid-900.otf') format("truetype");
}
@font-face {
	font-family: 'pictoGame';
	src: url('/CODE/css/game-icons.ttf') format("truetype");
}
@font-face {
	font-family: 'AlgerianRegular';
	src: url('/CODE/css/ALGER.ttf') format("truetype");
}

/* #endregion fonts */
