html,body{
	height:100%;
	margin:0;
	padding:0;
	background-color: grey;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate:hover {
	/* font-size: 8pt; */
	cursor: none;
	white-space: normal;
	overflow: visible;
	background: dimgray;
	border-radius: 4px;
	color: white;
	/* filter: invert(100%);	 */
	z-index: 100;
	/* height: 100px; */
	position: relative;
}

.might-overflow {
	cursor: default;
	text-overflow: ellipsis;
	overflow : hidden;
	white-space: nowrap;
}

.might-overflow:hover {
	cursor: default;
	text-overflow: clip;
	white-space: normal;
	/* word-break: break-all; */
}











