html,body{
	height:100%;
	margin:0;
	padding:0;
	background-color: grey;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncate:hover {
	overflow: visible;
}













