.dragelem {
	position:fixed;
	z-index: 100;
	cursor:pointer;
  color: rgb(60, 0, 248);  /* change [input cursor color] by this*/
  text-shadow: 0px 0px 0px #D60B0B; /* change [input font] by this*/
	-webkit-text-fill-color: transparent;
	border: 2px solid pink;
}
#dInputs>div {
	display:inline-block;
	background: green;
	color: white;
	width: 50px;
	height: 50px;
	font-size: 40px;
	text-align: center;
	cursor: pointer;
}
#dLetters>div, .letter {
	display:inline-block;
	background: white;
	width: 25px;
	height: 25px;
	font-size:20px;
	text-align: center;
	cursor: pointer;
}
#dLetters{
	margin:12px;
}

body{
	overflow:hidden;
	background:blue;
	height: 100vh;
	width: 100vw;
}
.dropzone {
  width: 500px;
  height: 200px;
  background-color: silver;
}

.block {
  position: absolute;
  background-color: pink;
  margin: 10px;
  border: 1px solid pink;
}

.draggable {
  position: absolute;
  cursor: pointer; /* IE */
  cursor: -webkit-grab;
  cursor: grab;
}

.dragging {
  cursor: -webkit-grabbing;
  cursor: grabbing;
	background-color: red;
	z-index: 100;
	position: fixed;
}